* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    touch-action: none;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: ccc;
    overflow: hidden;
}

.my-scroll {
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.my-scroll > div {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 4px #000;
}

.my-scroll > div::before {
    content: attr(data-index);
    float: left;
    margin-left: 8px;
}

.my-scroll > div::after {
    content: attr(data-index);
    float: right;
    margin-right: 8px;
}

.scroll-left,
.scroll-top,
.scroll-velocity {
    position: absolute;
    left: 0;
    color: red;
}

.scroll-top {
    top: 1.5em;
}

.scroll-velocity {
    top: 3em;
}

.tools-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.toggle {
    float: right;
    padding-right: 15px;
    color: #fff;
    text-decoration: none;
}

.lock {
    float: left;
    padding-left: 15px;
}

.lock > input[type='checkbox'] {
    vertical-align: middle;
}
